*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
h1{
    margin-bottom: 80px;
}
.btnCont{
    display: flex;
    flex-direction: row;
}
button{
    display: flex;
    flex-direction: column;
    background-color: white;   
    border: none;
    margin-left: 10px;
    cursor: pointer;
}
button img{
    width: 100px;
    height: 100px;
    transition: 1s;
}
.result{
    margin-top: 20px;
}